*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: hsl(221, 100%, 96%);
    overflow-x: hidden;
    margin: auto;
}
.container{
    display: flex;
    width: 40%;
    height: 60%;
    margin: 10% auto;
    border-radius: 20px;
}
.design{
    display: flex;
    width: 50%;
    border-radius: 20px;
    background-image: linear-gradient( 180deg,hsl(224, 42%, 52%),hsl(241, 92%, 41%)); 
}
.holder{
    display: flex;
    width: 50%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.bucket{
    height: 100%;
    width: 100%;
    margin: 20px 20px;
}
.bucket .sam{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    color: black;
}
.bucket p{
    font-size: 18px;
}
.memes{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border-style: none;
    margin-top: 20px;
}
.play{
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
}
#sect{
    display: flex;
    flex-direction: row;
}
#rct{
    display: flex;
    padding: 5px;
    color: hsl(0, 100%, 67%);
    background-color: hsl(0, 64%, 92%);
}
#memo{
    padding: 5px;
    background-color: hsl(39, 100%, 82%);
    color: hsl(39, 100%, 56%);
}
#verb{
    padding: 5px;
    color: hsl(166, 100%, 37%);
    background-color: hsl(167, 70%, 91%);
}
#visa{
    padding: 5px;
    background-color: hsl(235, 82%, 89%);
    color: hsl(234, 85%, 45%);
}
.button button{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    padding: 5px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border-style: none;
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
}
.just{
    height: 90%;
    width: 100%;
    margin: 20px 20px;
    border: 1px sol;
}
#sum{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    color: hsl(241, 100%, 89%);
    margin-top: 20px;
}
.circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    height: 140px;
    width: 140px;
    border-radius: 70px;
    background-color: hsl(241, 72%, 52%); 
}
#top{
    font-size: 40px;
    color: hsl(0, 0%, 100%);
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
}
#down{
    font-size: 12px;
    color: hsl(241, 100%, 89%);
}
#gee{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 30px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}
.pass{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    color: hsl(241, 100%, 89%);
    margin-top: 20px;
}
#ict{
    font-size: 15px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
}
.fil{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    color: black;
}
#spa{
    color: hsl(241, 89%, 83%);
}
@media(max-width: 414px){
    .container{
        border: 1px solid brown;
        height: 100vh;
        width: 80%;
        flex-direction: column;
    }
    .design{
        width: 100%;
    }
    .holder{
        width: 100%;
    }
    .pass{
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .gee{
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .class{
        height: 70px;
        width: 70px;
        border-radius: 35px;
    }
    #top{
        font-size: 45px;
    }
    #down{
        font-size: 15px;
    }
    #sum{
        margin-top: 8px;
    }
    #ict{
        font-size: 13px;
    }
    #spa{
        font-size: 12px;
    }
    .fil{
        font-size: 0px;
    }
}


